.custom-btn-color {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: black;
}

.custom-btn-color:hover {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: black;
}

.custom-wh {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: black;
}

